@use "../abstracts/mixins";
.error-page {
  &__title {
    font-size: 8rem;
    line-height: 1.2;
    color: var(--main-purple);

    @include mixins.mobile {
      font-size: 6rem;
    }
  }

  &__subtitle {
    font-size: 3rem;
    line-height: 1.2;
    @include mixins.mobile {
      font-size: 1rem !important;
    }
  }
  &__description {
    color: var(--darker-gray);
    margin-block-end: var(--space-md);
  }
}
