html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: linear-gradient(
  //   135deg,
  //   var(--deep-black-purple) 0%,
  //   var(--dark-purple) 25%,
  //   var(--medium-dark-purple) 50%,
  //   var(--royal-purple) 75%,
  //   var(--bright-purple) 100%
  // );
  background: linear-gradient(
    135deg,
    var(--deep-black-purple) 0%,
    var(--dark-purple) 50%,
    var(--medium-dark-purple) 100%
  );
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  // background-attachment: fixed;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}
