html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-text-color);
  background: linear-gradient(
    135deg,
    var(--gradient-color1),
    var(--gradient-color2)
  );
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}
