$font-primary: "Inter", sans-serif;
$font-secondary: "Space Grotesk", sans-serif;

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

$white: #f0f0f0;
$gray-40: #d1d5db;
$primary-accent-1: #8a2be2;
$primary-accent-2: #00ced1;
$secondary-accent: #ffd700;
$text-color: #f0f0f0;
$secondary-accent-glow: rgba(236, 72, 153, 0.8);
