<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="../static/sayIt-logos/logo-trasparent-mono.png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="../static/styles/main.css" />
    <title>sayIt | Words, not names</title>
  </head>
  <body>
    <div class="container">
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>

      <div class="particles">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
      </div>
      <div class="page-container">
        <section class="error-page welcome-section">
          <h1 class="error-page__title welcome-section__title">404</h1>

          <p class="error-page__subtitle welcome-section__subtitle">
            Oops! {{ username }}
          </p>
          <p class="error-page__description">
            The page you're looking for seems to have vanished into the digital
            void. Don't worry though, our chat rooms are still buzzing with
            activity!
          </p>
          <nav class="error-page__btns nav-buttons">
            <a href="{{url_for('home')}}" class="nav-button btn">🏠 Back To Home</a>
            <a href="#" class="nav-button btn">💭 Join a Chat</a>
          </nav>
        </section>
      </div>
    </div>
  </body>
</html>
