<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="../static/sayIt-logos/logo-mono.png"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />

    <title>sayIt | Chatroom Main</title>
  </head>
  <body>
    <div class="chatroom-main-container chatroom-main--playful-container">
      <div class="floating-cicles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      <div class="chat__container chat__container--playful">
        <section class="chat chat--playful">
          <h1 class="join-chat join-chat--playful">
            <!-- use flask to change as needed -->
            🎈 A wild chatter appeared! Welcome to the goofy zone! 🎈
          </h1>

          <article class="chat__message chat__message--playful">
            <p class="chat__message-bubble chat__message-bubble--playful">
              <span class="chat__username chat__username--playful"
                >TinyTim</span
              >
              Hey there! Ready for some absolutely ridiculous conversations? 😂
              <time class="timestamp timestamp--playful">2:30 PM</time>
            </p>
          </article>

          <article class="chat__message chat__message--playful">
            <p class="chat__message-bubble chat__message-bubble--playful">
              <span class="chat__username chat__username--playful"
                >TinyTim</span
              >
              I brought my collection of dad jokes! Want to hear one? 🤪
              <time class="timestamp timestamp--playful">2:31 PM</time>
            </p>
          </article>
          <article
            class="chat__message own own--playful chat__message--playful"
          >
            <p class="chat__message-bubble chat__message-bubble--playful">
              <span class="chat__username chat__username--playful"
                >TinyTim</span
              >
              This is so colorful and fun! I love it! 🌈
              <time class="timestamp timestamp--playful">2:32 PM</time>
            </p>
          </article>
          <article class="chat__message chat__message--playful">
            <p class="chat__message-bubble chat__message-bubble--playful">
              <span class="chat__username chat__username--playful"
                >TinyTim</span
              >
              Why don't scientists trust atoms? Because they make up everything!
              🔬✨ <time class="timestamp timestamp--playful">2:33 PM</time>
            </p>
          </article>
          <article class="chat__message chat__message--playful">
            <p class="chat__message-bubble chat__message-bubble--playful">
              <span class="chat__username chat__username--playful"
                >TinyTim</span
              >
              The color scheme is giving me major ice cream vibes! 🍦🍨
              <time class="timestamp timestamp--playful">2:34 PM</time>
            </p>
          </article>
          <article
            class="chat__message own own--playful chat__message--playful"
          >
            <p class="chat__message-bubble chat__message-bubble--playful">
              <span class="chat__username chat__username--playful"
                >TinyTim</span
              >
              LOL these bubble shapes are so weird and I love them! 🤣
              <time class="timestamp timestamp--playful">2:35 PM</time>
            </p>
          </article>
          <article
            class="chat__message own own--playful chat__message--playful"
          >
            <p class="chat__message-bubble chat__message-bubble--playful">
              <span class="chat__username chat__username--playful"
                >TinyTim</span
              >
              Anonymous chatting is the best! We can all be our weirdest selves!
              👻 <time class="timestamp timestamp--playful">2:35 PM</time>
            </p>
          </article>
          <article class="chat__message chat__message--playful">
            <p class="chat__message-bubble chat__message-bubble--playful">
              <span class="chat__username chat__username--playful"
                >TinyTim</span
              >
              Anonymous chatting is the best! We can all be our weirdest selves!
              👻 <time class="timestamp timestamp--playful">2:35 PM</time>
            </p>
          </article>
          <article class="chat__message chat__message--playful">
            <p class="chat__message-bubble chat__message-bubble--playful">
              <span class="chat__username chat__username--playful"
                >TinyTim</span
              >
              Anonymous chatting is the best! We can all be our weirdest selves!
              👻 <time class="timestamp timestamp--playful">2:35 PM</time>
            </p>
          </article>
          <article class="chat__message chat__message--playful">
            <p class="chat__message-bubble chat__message-bubble--playful">
              <span class="chat__username chat__username--playful"
                >TinyTim</span
              >

              Anonymous chatting is the best! We can all be our weirdest selves!
              👻 <time class="timestamp timestamp--playful">2:35 PM</time>
            </p>
          </article>
          <article class="chat__message chat__message--playful">
            <p class="chat__message-bubble chat__message-bubble--playful">
              <span class="chat__username chat__username--playful"
                >TinyTim</span
              >

              be our
              <time class="timestamp timestamp--playful">2:35 PM</time>
            </p>
          </article>
        </section>
        <form class="chat__message-input chat__message-input--playful">
          <input
            type="text"
            class="chat__message-input-field chat__message-input-field--playful"
            placeholder="Type your goofiest message here... 🤪"
          />
          <button class="send-btn send-btn--playful">🚀</button>
        </form>
      </div>
    </div>
  </body>
</html>
