<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="../static/sayIt-logos/logo-mono.png"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />

    <title>sayIt | Chatroom Main</title>
  </head>
  <body>
    <div class="chatroom-main-container chatroom-main--chill-container">
      <!-- <div class="floating-cicles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div> -->
      <!-- </div> -->
      <div class="chat__container chat__container--chill">
        <section class="chat chat--chill">
          <h1 class="join-chat join-chat--chill">
            <!-- use flask to change as needed -->
            🎈 A wild chatter appeared! Welcome to the goofy zone! 🎈
          </h1>

          <article class="chat__message chat__message--chill">
            <p class="chat__message-bubble chat__message-bubble--chill">
              Hey there! Ready for some absolutely ridiculous conversations? 😂
              <span class="chat__message-author chat__message-author--chill">
                <span class="chat__username chat__username--chill"
                  >TinyTim</span
                >
                <time class="timestamp timestamp--chill">2:35 PM</time>
              </span>
            </p>
          </article>

          <article class="chat__message chat__message--chill">
            <p class="chat__message-bubble chat__message-bubble--chill">
              I brought my collection of dad jokes! Want to hear one? 🤪
              <span class="chat__message-author chat__message-author--chill">
                <span class="chat__username chat__username--chill"
                  >TinyTim</span
                >
                <time class="timestamp timestamp--chill">2:35 PM</time>
              </span>
            </p>
          </article>
          <article class="chat__message own own--chill chat__message--chill">
            <p class="chat__message-bubble chat__message-bubble--chill">
              This is so colorful and fun! I love it! 🌈
              <span class="chat__message-author chat__message-author--chill">
                <span class="chat__username chat__username--chill"
                  >TinyTim</span
                >
                <time class="timestamp timestamp--chill">2:35 PM</time>
              </span>
            </p>
          </article>
          <article class="chat__message chat__message--chill">
            <p class="chat__message-bubble chat__message-bubble--chill">
              Why don't scientists trust atoms? Because they make up everything!
              <span class="chat__message-author chat__message-author--chill">
                <span class="chat__username chat__username--chill"
                  >TinyTim</span
                >
                <time class="timestamp timestamp--chill">2:35 PM</time>
              </span>
            </p>
          </article>
          <article class="chat__message chat__message--chill">
            <p class="chat__message-bubble chat__message-bubble--chill">
              The color scheme is giving me major ice cream vibes! 🍦🍨
              <span class="chat__message-author chat__message-author--chill">
                <span class="chat__username chat__username--chill"
                  >TinyTim</span
                >
                <time class="timestamp timestamp--chill">2:35 PM</time>
              </span>
            </p>
          </article>
          <article class="chat__message own own--chill chat__message--chill">
            <p class="chat__message-bubble chat__message-bubble--chill">
              LOL these bubble shapes are so weird and I love them! 🤣
              <span class="chat__message-author chat__message-author--chill">
                <span class="chat__username chat__username--chill"
                  >TinyTim</span
                >
                <time class="timestamp timestamp--chill">2:35 PM</time>
              </span>
            </p>
          </article>
          <article class="chat__message own own--chill chat__message--chill">
            <p class="chat__message-bubble chat__message-bubble--chill">
              Anonymous chatting is the best! We can all be our weirdest selves!
              <span class="chat__message-author chat__message-author--chill">
                <span class="chat__username chat__username--chill"
                  >TinyTim</span
                >
                <time class="timestamp timestamp--chill">2:35 PM</time>
              </span>
            </p>
          </article>
          <article class="chat__message chat__message--chill">
            <p class="chat__message-bubble chat__message-bubble--chill">
              Anonymous chatting is the best! We can all be our weirdest selves!
              <span class="chat__message-author chat__message-author--chill">
                <span class="chat__username chat__username--chill"
                  >TinyTim</span
                >
                <time class="timestamp timestamp--chill">2:35 PM</time>
              </span>
            </p>
          </article>
          <article class="chat__message chat__message--chill">
            <p class="chat__message-bubble chat__message-bubble--chill">
              Anonymous chatting is the best! We can all be our weirdest selves!
              👻
              <span class="chat__message-author chat__message-author--chill">
                <span class="chat__username chat__username--chill"
                  >TinyTim</span
                >
                <time class="timestamp timestamp--chill">2:35 PM</time>
              </span>
            </p>
          </article>
          <article class="chat__message chat__message--chill">
            <p class="chat__message-bubble chat__message-bubble--chill">
              <span class="chat__message-author chat__message-author--chill">
                <span class="chat__username chat__username--chill"
                  >TinyTim</span
                >
                <time class="timestamp timestamp--chill">2:35 PM</time>
              </span>
              Anonymous chatting is the best! We can all be our weirdest selves!
            </p>
          </article>
          <article class="chat__message chat__message--chill">
            <p class="chat__message-bubble chat__message-bubble--chill">
              be an anomalous person caiuse God loves you either way dont ever
              leave hum he wont leave or forsake you. WHen we stand before him
              he loves us and doesnt ever ever leave us. He's a lover and he
              eants to brand us with his name marked forever. He wants to own
              not just gaurd us. He wants to own us
              <span class="chat__message-author chat__message-author--chill">
                <span class="chat__username chat__username--chill"
                  >TinyTim</span
                >
                <time class="timestamp timestamp--chill">2:35 PM</time>
              </span>
            </p>
          </article>
        </section>
        <form class="chat__message-input chat__message-input--chill">
          <textarea
            type="text"
            class="chat__message-input-field chat__message-input-field--chill"
            placeholder="Type your goofiest message here... 🤪"
          ></textarea>
          <button class="send-btn send-btn--chill">🚀</button>
        </form>
      </div>
    </div>
  </body>
</html>
