<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="../static/sayIt-logos/logo-mono.png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />

    <title>sayIt | Chatroom Moods</title>
  </head>
  <body>
    <div class="background-orbs">
      <div class="orb"></div>
      <div class="orb"></div>
      <div class="orb"></div>
    </div>

    <div class="page-container">
      <main class="mood welcome-section">
        <h1 class="mood__title welcome-section__title">What's Your Vibe?</h1>
        <p class="mood__subtitle welcome-section__subtitle">
          Let us know how you're feeling so we can match the chat room energy to
          your mood
        </p>
        <section class="mood__options">
          <ul class="mood__option-buttons">
            {% for mood, emoji in moods.items() %}
            <li>
              <a href="#" class="mood__btn">{{ emoji }} {{mood}}</a>
            </li>
            {% endfor %}
          </ul>
        </section>
        <a href="#" class="continue-btn btn">Don't Know</a>
      </main>
    </div>
  </body>
</html>
