<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/error_page-main.css" />
    <title>sayIt | Error Page</title>
  </head>
  <body>
    <main class="error-page">
      <h1 class="error-page__title falling-text">404</h1>
      <h3 class="error-page__subtitle falling-text delay-1">
        Oops! {{username }}
      </h3>
      <p class="error-page__description falling-text delay-2">
        Looks like there are no usernames at this time.
      </p>
      <a href="./index.html" class="error-page--btn falling-text delay-3">
        Back to sayIt
      </a>
    </main>
  </body>
</html>
