<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="../static/sayIt-logos/logo-mono.png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/styles.css" />
    <title>sayIt | Words, not names</title>
  </head>
  <body>
    <main class="sayit">
      <h1 class="sayit__title">
        SayIt — Speak Confidently, Stay
        <span class="sayit__title--highlight">Anonymous</span>
      </h1>
      <p class="sayit__subtitle">
        Say what's on your mind <span class="highlight-word">freely</span>. No
        accounts, no names — just
        <span class="highlight-word">honest words</span> in a
        <span class="highlight-word">safe</span>,
        <span class="highlight-word">anonymous space</span>.
      </p>
      <p class="sayit__description">
        Dive straight into <span class="highlight-word">conversations</span>.
        <span>SayIt</span> instantly connects you to a
        <span class="highlight-word">vibrant community</span> where every voice
        is heard, and no one knows who you are. We believe true expression
        flourishes when identities fade. Just click,
        <span class="highlight-word">chat</span>, and be yourself.
      </p>
      <button class="sayit__nickname-btn">Get My Nickname</button>
    </main>
  </body>
</html>
